@import "../base/vars";

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: @color-bg;
	font-family: 'Roboto', sans-serif;
}

.container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
	width: 100%;
}

#map {
	background-color: #00d239;
	height: 100vh;
	width: 100vw
}

#map:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 70%;
	left: 0;
	z-index: 1000;
	background: -moz-linear-gradient(top,  rgb(0, 210, 57) 0%, rgb(0, 210, 57) 20%, rgba(0, 210, 57, 0) 100%);
	background: -webkit-linear-gradient(top,  rgb(0, 210, 57) 0%,rgb(0, 210, 57) 20%, rgba(0, 210, 57, 0) 100%);
	background: linear-gradient(to bottom,  rgb(0, 210, 57) 0%,rgb(0, 210, 57) 20%,rgba(0, 210, 57, 0) 100%);
}

#wanna-go {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	display: block;
	top: 200px;
	z-index: 1500;
	cursor: pointer;
	a {
		color: #fff;
		text-decoration: none;
		border: 1px solid #fff;
		padding: 10px 20px;
		border-radius: 20px;
	}
}

.text {
	width: 260px;
	color: #fff;
	position: absolute;
	top: 110px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2000;
	font-size: 14px;
}

.popup {
	background: #fff;
	width: 440px;
	height: 50px;
	position: absolute;
	z-index: 2000;
	top: 200px;
	border-radius: 25px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	transition: .3s ease;
	overflow: hidden;
	left: calc(50%);
	margin-left: -220px;
	ul {
		list-style: none;
		margin: 0;
		padding: 10px 0;
	}
	li {
		position: relative;
		text-align: left;
		padding: 8px 10px;
		margin: 0 15px;
		font-size: 15px;
	}
	li:after {
		content: "";
		position: absolute;
		height: 10px;
		width: 0;
		background: #fff;
		top: 10px;
		border-radius: 5px;
		left: 150px;
		transition: .8s ease-in-out;
	}
	li.p100:after {
		background: #00d239;
		width: calc(100 * 2.5px)
	}
	li.p90:after {
		background: #00d239;
		width: calc(90 * 2.5px)
	}
	li.p80:after {
		background: #4ed942;
		width: calc(80 * 2.5px)
	}
	li.p70:after {
		background: #87d92e;
		width: calc(70 * 2.5px)
	}
	li.p60:after {
		background: #bfda1a;
		width: calc(60 * 2.5px)
	}
	li.p50:after {
		background: #f7da06;
		width: calc(50 * 2.5px)
	}
	li.p40:after {
		background: #f4aa0b;
		width: calc(40 * 2.5px)
	}
	li.p30:after {
		background: #f2790f;
		width: calc(30 * 2.5px)
	}
	li.p20:after {
		background: #f04914;
		width: calc(20 * 2.5px)
	}
	li.p10:after {
		background: #ed1818;
		width: calc(10 * 2.5px)
	}
	.autocomplete-results {
		li {
			margin: 0;
			padding: 8px 25px;
			transition: .1s ease-in-out;
			cursor: pointer;
		}
		li:hover {
			background-color: #f1f1f1;
		}
	}
}
.popup.hide {
	li:after {
		width: 0;
		background: #fff;
	}
}

.pointer-tail {
	display: inline-block;
	transform: translateY(-40px);
	width: 70px;
	transition: .7s ease-in-out;
	transition-delay: .3s;
}

.autocomplete-results,
.data-results,
.formContent {
	opacity: 0;
	z-index: 0;
	transition: .2s ease-in-out;
	transition-delay: .2s;
	border-color: #eee;
}

.data-results {
	transition: .5s ease-in-out;
	transition-delay: .3s;
	padding: 20px 0;
	position: relative;
	z-index: 2000;
	li {
		font-size: 12px;
		border-bottom: 1px solid #f1f1f1;
	}
	li:last-child {
		border-bottom: none;
	}
	li:before {
		content: "";
		position: absolute;
		height: 10px;
		width: 0;
		top: 10px;
		border-radius: 5px;
		left: 150px;
		transition: .8s ease-in-out;
		background: #eee;
		width: calc(100 * 2.5px)
	}
	li:hover {
		.slider-container-component {
			opacity: 1;
		}
	}
}

#name {
	opacity: 0;
	transition: .2s ease-in-out;
}

.popup.input {
	.formContent {
		opacity: 1;
	}
}

.popup.autocomplete {
	height: 353px;
	.autocomplete-results {
		opacity: 1;
	}
	.formContent {
		opacity: 1;
		border-bottom: 1px solid #eee;
	}
}

.popup.results {
	height: 353px;
	-webkit-animation-name: bounce;
	animation-name: bounce;
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	overflow: visible;
	.data-results {
		opacity: 1;
		padding: 13px 0;
	}
	.autocomplete-results,
	.formContent {
		display: none;
	}
	.pointer-tail {
		transform: translateY(-6px);
	}
	#name {
		opacity: 1;
		text-align: center;
		margin-bottom: 0px;
    margin-top: 20px;
	}
}

@-webkit-keyframes bounce {
  from, 20% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -70px, 0) scale(1.2);
    transform: translate3d(0, -70px, 0) scale(1.2);
  }

  90% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, 55px, 0);
    transform: translate3d(0, 55px, 0);
  }

	80%, to {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, 70px, 0);
    transform: translate3d(0, 70px, 0);
	}

}

@keyframes bounce {
  from, 20% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -70px, 0) scale(1.2);
    transform: translate3d(0, -70px, 0) scale(1.2);
  }

  90% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, 55px, 0);
    transform: translate3d(0, 55px, 0);
  }

	80%, to {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, 70px, 0);
    transform: translate3d(0, 70px, 0);
	}

}

#section-2 {
	position: relative;
	top: 100vh;
	height: 292px;
	background: #f1f1f1;
	h2 {
		margin-top: 0;
		padding-top: 50px;
	}
	p {
		max-width: 700px;
		margin: 0 auto;
		line-height: 1.2;
	}
	img {
		margin-bottom: 100px;
		margin-top: 50px;
	}
}

#score {
	border: 3px solid #87d92e;
	width: 60px;
	height: 60px;
	display: inline-block;
	padding: 6px;
	text-align: center;
	border-radius: 30px;
	font-size: 40px;
	color: #87d92e;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 10px;
}

#score-label {
	font-size: 12px;
	margin: 10px 0;
	color: #999;
}

.subscribe {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0 auto;
	width: 700px;
	li {
		width: 33%;
		paddin: 0 10px;
		overflow: hidden;
		.inner {
			background: #fff;
			padding: 15px;
			border-radius: 30px;
			display: block;
		}
	}
}

.slider-container-component {
	width: 275px;
	position: absolute;
	right: -2px;
	top: 3px;
	opacity: 0;
	@white: #ffffff;
	@darkestgrey: #464646;
	@darkergrey: #929292;
	@grey: #bcbcbc;
	@lightergrey: #dcdcdc;
	@lightestgrey: #f8f8f8;
	@rainbow: linear-gradient(to right, #F660FF, #65BAFA, #8FEC51);
	@medium-shadow: 0 1px 3px 0px fade(black, 15%);

	.slider {
		user-select: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		margin: 6px 0;

		&__track {
			position: relative;
			height: 12px;
			cursor: pointer;
			border-radius: 6px;
			margin: 6px 12px;
			box-shadow: inset 0 0 0 1px fade(black, 20%);
		}

		&__handle {
			user-select: none;
			border: 1px solid @grey;
			height: 24px;
			width: 24px;
			border-radius: 12px;
			background: @white;
			cursor: pointer;
			box-shadow: @medium-shadow;
			margin-top: -6px;
			display: inline-block;
			position: absolute;
			z-index: 1;
			transition: transform .2s ease;
			&.react-draggable-dragging {
				transition: none;
			}
		}

		&__ticks, &__markers {
			position: absolute;
			width: 100%;
			margin-top: 1px;
			line-height: 0;
			cursor: pointer;
			pointer-events: none;
		}

		&__markers{
			transform: translateY(-24px);
		}

		&__tick {
			width: 1px;
			background-color: rgba(0,0,0,0.2);
			height: 10px;
			display: inline-block;
			position: relative;
			margin-left: -1px;
			pointer-events: none;
			&--marker{
				margin-left:~"calc(50% - 1px)";
				margin-top: 8px;
			}
		}

	}

	.slider__marker, .marker{
		display: inline-block;
		position: absolute;
		transform: translateX(-50%);
		height: 10px;
	}
	.marker__label{
		margin: 0;
		line-height: 1;
	}



	// Popover CSS

	&.dragging .popover-container > .popover {
		transition: none;
	}

	.popover-container {
		margin-top: 12px;
		.popover {
			transition: left .2s ease;
			background: #fff;
			border: 1px solid @lightergrey;
			box-shadow: @medium-shadow;
			width: 150px;
			left: -61px;
			transform: translateX(~'calc(-50% + 14px)');
			height: 50px;
			padding: 10px;
			font-size: 14px;
			line-height: 20px;
			color: @darkestgrey;
			text-align: center;
			border-radius: 4px;
			cursor: initial;
			position: absolute;

			&__arrow {
				position: relative;
				background: #ffffff;
				height: 6px;
				width: 12px;
				top: -10px;
				margin-left: -6px;
				left: 50%;
				border: none;
				&:after, &:before {
					bottom: 100%;
					left: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
				}

				&:after {
					border-color: rgba(255, 255, 255, 0);
					border-bottom-color: #ffffff;
					border-width: 5px;
					margin-left: -5px;
					top: initial;
				}
				&:before {
					border-color: rgba(220, 220, 220, 0);
					border-bottom-color: #dcdcdc;
					border-width: 6px;
					margin-left: -6px;
				}
			}
		}
	}
}
