@import "../base/vars";

.formContent {

	.input {
		margin: 0;
    display: inline-block;
    width: 440px;
    height: 50px;
    padding: 15px 25px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: none;
    z-index: 1000;
    transition: .2s ease;
		background: none;
	}

	.input:hover,
	.input:focus {
		outline: none;
	}

}
