@import "../base/vars";

.locata {

	text-align: center;

	.headerLogo {
		display: inline-block;
		margin-top: 75px;
		width: 85%;

		@media (min-width: @media-tablet) {
			margin-top: 50px;
			width: 75%;
		}

	}

}
